@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply text-[var(--foreground)] bg-[var(--background)] font-sans;
}

@layer base {
  /* 1. Use a more-intuitive box-sizing model. */
  *,
  *::before,
  *::after {
    @apply box-border;
  }

  /* 2. Remove default margin */
  * {
    @apply m-0;
  }

  /* 5. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    @apply block max-w-full;
  }

  /* 6. Remove built-in form typography styles */
  input,
  button,
  textarea,
  select {
    @apply font-inherit;
  }

  /* 7. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply break-words m-0;
  }

  /* 8. Create a root stacking context */
  #root,
  #__next {
    @apply isolate;
  }

  /* 9. Remove default anchor styles */
  a {
    @apply text-inherit no-underline;
  }

  button {
    @apply appearance-none border-none bg-none shadow-none p-0 cursor-pointer text-inherit font-inherit;
  }

  ul,
  ol {
    @apply list-none;
  }
}

@layer base {
  body {
    @apply leading-6 antialiased text-black;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom class for font-inherit */
@layer components {
  .font-inherit {
    font: inherit;
  }
}
